		<!-- Topbar v3 -->
			<div class="topbar-v3">
				<div class="search-open">
					<div class="container">
						<input type="text" class="form-control" placeholder="Search">
						<div class="search-close"><i class="icon-close"></i></div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<!-- Topbar Navigation 
							<ul class="left-topbar">
								<li>
									<a>Currency (CAD)</a>
									<ul class="currency">
										<li class="active">
											<a href="#">CAD <i class="fa fa-check"></i></a>
										</li>			
									</ul>
								</li>
								<li>
									<a>Language (EN)</a>
									<ul class="language">
										<li class="active">
											<a href="#">English (EN)<i class="fa fa-check"></i></a>
										</li>										
									</ul>
								</li>
							</ul>--><!--/end left-topbar-->
						</div>
						<div class="col-sm-6">
							<ul class="list-inline right-topbar pull-right">
								<li><a [routerLink]="['']">Account</a></li>
								<!--<li><a href="shop-ui-add-to-cart.html">Wishlist (0)</a></li>-->
								<li><a [routerLink]="['login']">Login</a> | <a [routerLink]="['']">Register</a></li>
								<!--<li><i class="search fa fa-search search-button"></i></li>-->
							</ul>
						</div>
					</div>
				</div><!--/container-->
			</div>
			<!-- End Topbar v3 -->