
	<!-- Promo Block -->
	<section class="promo-section" id="intro">
		<div class="">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-12 col-xs-12 col-md-offset-1 promo-info">
						<h1>We created<br>
						<strong>Revolution in App</strong></h1>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

						<a href="#" class="btn-u btn-banner btn-apple"><i class="fa fa-apple fa-2x"></i> Download App<br>
						<span>From App store</span></a>
						<a href="#" class="btn-u btn-banner btn-android"><i class="fa fa-android fa-2x"></i> Download App<br>
						<span>From Play market</span></a>
					</div>

					<div class="col-md-6 col-sm-12 col-xs-12 banner-img overflow-h">
						<img class="img-responsive animated slideInUp wow" src="assets/img-temp/mockup_slider.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Promo Block -->
